table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 20px;
}

td{
    /*padding: 7px;*/
    width: 25px;
    height: 25px;
    text-align: center;
}

#restart{
    display: inline;
    margin-left: 20px;
}

#won{
    display: none;
}

#lost{
    display: none;
}

#cheat{
    display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}